footer {
	border: 3px solid red;
	text-align: center;
}

.aboutStaff {
	color: black;
	font-size: 20px;
	display: inline-block;
	padding: 20px !important;
	list-style-type: none;
	position: center !important;
	.aboutPic {
		width: 100px !important;
		height: 100px !important;
		box-shadow: 5px 10px 10px -5px !important;
		border: 2px solid black;
		position: center;
		margin: 0 auto !important;
	}
	.list-unstyled {
		text-align: center;

	}
}
