$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower



/* Space out content a bit */
#map-canvas {
        min-height:500px;
        height: 80%;
        margin: px;
        padding: 0px;
      }



/* Our Styles */

*{
    padding: 0 !important;
    margin: 0 !important;
}

.container{
    width: 80%;
    margin: 0 auto !important;
}

header{
    width: 100%;
    height: 50px;
    background-color: #3A3C43;
}

header h3{
    padding: 14px 0 0 20px !important;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    float: left;
}

header nav{
    margin: 14px 0 0 0 !important;
}

header nav ul li{
    display: inline-block;
    padding: 0 10px !important;
}

header nav ul li a{
    color: white;
    text-transform: uppercase;
}

header nav ul li a:hover{
    color: white;
}

.intro{
    width: 100%;
    min-height: 500px;
    background-color: black;
        background-image: url("/imgs/headerbg.png");
    background-size: cover;
}

.intro h2{
    text-align: center;
    color: white;
    padding: 50px 0 0 0 !important;
}

.hchooser{
    width: 100%;
    min-height: 500px !important;
    background-color: #EFECE7;
}

.hchooser h4{
    text-align: center;
    padding: 50px 0 50px 0 !important;
    font-size: 18px;
    line-height: 24px;
}

.hchooser h5{
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
}

.mapsoption img{
    width: 200px;
    display: block;
    margin: 20px auto 20px auto !important;
}

.typeslots{
    width: 350px;
    margin: 30px auto 0 auto !important;
}

.typeslots img{
    width: 100px;
    margin: 3px !important;
}

.typeslots a{
    display: inline-block;
    width: 110px;
    height: 100px;
}

.typeslots btn:hover{
    background-color: #65A832;
}


.adventurebox{
    width: 100%;
    height: 450px;
    background-color: #65A832;
}
.adventurebox h4{
    text-align: center;
    padding: 50px 0 50px 0 !important;
    text-transform: uppercase;

}

// Contact Styles

.contact{
    width: 100%;
    min-height: 600px;
    background-color: white;
}

.contactintro{
    margin: 100px 0 0 50px !important;
}

.contactintro p{
    padding: 30px 0 0 0 !important;
    font-size: 16px;
    line-height: 22px;
}

.contactformwrapper{
    margin: 120px 0 0 50px !important;
    width: 70%;
}

.contactformwrapper .form-group{
    margin: 20px 0 0 0 !important;
}

button.contactSub{
    margin: 15px 0 0 0 !important;
    width: 50px;
    height: 20px;
    background-color: #65A832;
}


footer{
    width: 100%;
    height: 300px;
    background-color: #494540;
}

// for the footer and underscore template
 footer .aboutPic{
    height: 75px;
    width:75px;
    border-radius: 110px;  
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


//these are the bootstrap styles

// /* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
 
// }

/* Custom page header */
// .header {
//     border-bottom: 1px solid #e5e5e5;

//     /* Make the masthead heading the same height as the navigation */
//     h3 {
//         margin-top: 0;
//         margin-bottom: 0;
//         line-height: 40px;
//         padding-bottom: 19px;
//     }
// }

/* Custom page footer */
// .footer{
//     padding-top: 19px;
//     color: #777;
//     border-top: 1px solid #e5e5e5;
// }




// .container-narrow > hr {
//     margin: 30px 0;
// }

/* Main marketing message and sign up button */
// .jumbotron {
//     text-align: center;
//     border-bottom: 1px solid #e5e5e5;
//     .btn {
//         font-size: 21px;
//         padding: 14px 24px;
//     }
// }

/* Supporting marketing content */
// .marketing {
//     margin: 40px 0;
//     p + h4 {
//         margin-top: 28px;
//     }
// }




