$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower



/* Space out content a bit */


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
 
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

  
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* Our Styles */

*{
    padding: 0 !important;
    margin: 0 !important;
}

.container{
    width: 80%;
    margin: 0 auto !important;
}

header{
    width: 100%;
    height: 50px;
    background-color: #3A3C43;
}

header h3{
    padding: 14px 0 0 20px !important;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    float: left;
}

header nav{
    margin: 14px 0 0 0 !important;
}

header nav ul li{
    display: inline-block;
    padding: 0 10px !important;
}

header nav ul li a{
    color: white;
    text-transform: uppercase;
}

header nav ul li a:hover{
    color: white;
}



.intro{
    width: 100%;
    min-height: 500px;
    background-color: black;
        background-image: url("/imgs/headerbg.png");
    background-size: cover;


}

.intro h2{
    text-align: center;
    color: white;
    padding: 50px 0 0 0 !important;
}

.hchooser{
    width: 100%;
    min-height: 400px;
    background-color: #EFECE7;
}

.hchooser h4{
        text-align: center;
            padding: 50px 0 50px 0 !important;


}

.hchooser p{
    text-align: center;
}

.adventurebox{
    width: 100%;
    height: 400px;
    background-color: pink;
}

.adventurebox h4{

        text-align: center;
            padding: 50px 0 50px 0 !important;


}


footer{
    width: 100%;
    height: 300px;
    background-color: #e2e2e2;
}
