/*styles for the reviews page*/
body{
	background-color: #cbf7ff;
}
.preview-parks {
    width:80%;
    height: 300px;
    background-color: #c0caff;  
    border: 1px solid black;  
}

.flex-container {
display: -webkit-flex;
-webkit-flex-direction: row;
-webkit-justify-content: space-between;
-webkit-flex-wrap: wrap;
}

.navbar{
	color: white;
	background-color: black;
	list-style-type: none;
	font-size: 15px;
}

.navbar li img{
	width: 150px;
	height:150px;
}

.container-previews {
	list-style-type: none;
}

.parkpics{
	width: 100%;
	list-style-type: none;
}

.container-previews{
	width: 80%;
	background: #cbf7ff;
}

.reviewPage {
	background: #cbf7ff;
}