<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>docksiders</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">

        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="../bower_components/modernizr/modernizr.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true_or_false"></script>
        <!-- endbuild -->

    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>


                
            <div class="container">
                
                <h3>The Exploratory Committee</h3>


                <nav class="pull-right">
                    
                    <ul>
                         <li><a href="index.html">Home</a></li>
                        <li><a href="detail.html">Reviews</a></li>
                        <li><a href="searching.html">Searches</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>

                </nav>


            </div><!--end container-->






        </header><!--end header-->

        <div class="intro">
            
            

        </div><!--end intro-->


        <div class="hchooser">

            <div class="container">
            
            <h4>The Exploratory Committee connects lovers of the great outdoors with neat things to and a community to share their experiences with. Simply choose how you want to discover your next adventure below to get started!</h4>


            <div class="row">
                
                <div class="col-md-6 mapsoption">
                    
                    <h5>Nearby Spots</h5>

                    <img src="/../imgs/maps.png" alt="" width="200">

                </div><!--end col-->

                <div class="col-md-6 typeoption">
                    
            
                <h5>What's your style?</h5>

                    <div class="typeslots">



                       <a href="#"> <img src="/../imgs/hiking.png" alt="" </a>
                       <a href="#"> <img src="/../imgs/boating.png" alt="" ></a>
                        <a href="#"><img src="/../imgs/camping.png" alt="" ></a>
                        <a href="#"><img src="/../imgs/fishing.png" alt="" ></a>
                        <a href="#"><img src="/../imgs/picnicing.png" alt="" ></a>
                        <a href="#"><img src="/../imgs/sightseeing.png" alt=""></a>

                        


                    </div><!--end type slots-->


                </div><!--end col-->


            </div><!--end row-->


        </div><!--end container-->
        </div><!--end hchooser-->

        <div class="adventurebox">
            
            <h4>Your Adventure</h4>

        </div><!--end adventure box-->
        <footer>
        </footer>
        
            <script type="template/html" id="aboutStaff">
            
            <% _.each(aboutData,function(element,index,list){ %>
            <div>
            <h4><img class="aboutPic"src="<%= element.photo %>"></h4>

            <ul class="list-unstyled">
                <li><%= element.name %></li>
            </ul>
        
        <% }); %>
            </script>
        
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/underscore/underscore.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
            <!-- // <script src="scripts/main.js"></script> -->
           <!-- // <script src="scripts/search.js"></script> / -->
            <!-- // <script src="scripts/reviews.js"></script> -->
             <script src="scripts/footer.js"></script>

        <!-- endbuild -->
</body>
</html>
