<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>docksiders</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/footer.css">



        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="../bower_components/modernizr/modernizr.js"></script>
        <!-- // <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true_or_false"></script> -->
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <!-- endbuild -->
        <script>
                function geolocateUser() {
                    // If the browser supports the Geolocation API
                    if (navigator.geolocation)
                    {
                      var positionOptions = {
                        enableHighAccuracy: true,
                        timeout: 10 * 1000 // 10 seconds
                      };
                      navigator.geolocation.getCurrentPosition(geolocationSuccess, geolocationError, positionOptions);
                    }
                    else
                      document.getElementById("error").innerHTML += "Your browser doesn't support the Geolocation API";
                  }

                   function writeAddressName(latLng) {
                    var geocoder = new google.maps.Geocoder();
                    geocoder.geocode({
                      "location": latLng
                    },
                    function(results, status) {
                      if (status == google.maps.GeocoderStatus.OK)
                        document.getElementById("address").innerHTML = results[0].formatted_address;
                      else
                        document.getElementById("error").innerHTML += "Unable to retrieve your address" + "<br />";
                    });
                  }
             
                  function geolocationSuccess(position) {
                    var userLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    // Write the formatted address
                    writeAddressName(userLatLng);
             
                    var myOptions = {
                      zoom : 16,
                      center : userLatLng,
                      mapTypeId : google.maps.MapTypeId.ROADMAP
                    };
                    // Draw the map
                    var mapObject = new google.maps.Map(document.getElementById("map"), myOptions);
                    // Place the marker
                    new google.maps.Marker({
                      map: mapObject,
                      position: userLatLng
                    });
                    // Draw a circle around the user position to have an idea of the current localization accuracy
                    var circle = new google.maps.Circle({
                      center: userLatLng,
                      radius: position.coords.accuracy,
                      map: mapObject,
                      fillColor: '#0000FF',
                      fillOpacity: 0.5,
                      strokeColor: '#0000FF',
                      strokeOpacity: 1.0
                    });
                    mapObject.fitBounds(circle.getBounds());
                  }
             
                  function geolocationError(positionError) {
                    document.getElementById("error").innerHTML += "Error: " + positionError.message + "<br />";
                  }
        </script>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>


                
            <div class="container">
                
                <h3>The Exploratory Committee</h3>


                <nav class="pull-right">
                    
                    <ul>
                         <li><a href="index.html">Home</a></li>
                        <li><a href="reviews.html">Reviews</a></li>
                        <!-- <li><a href="searching.html">Searches</a></li> -->
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="testingplaces.html">Testing</a></li>
                    </ul>

                </nav>


            </div><!--end nav container-->






        </header><!--end header-->

        <div class="intro">
            
        </div><!--end intro-->


        <div class="hchooser">

            <div class="container">
            
            <h4>The Exploratory Committee connects lovers of the great outdoors with neat things to do and a community to share their experiences with. Simply choose how you want to discover your next adventure below to get started!</h4>

            <div class="row">
                
                <div class="col-md-6 mapsoption">
                    
                    <h5>Nearby Spots</h5>

                    <img src="/../imgs/maps.png" alt="" width="200">

                    <p><b>Address</b>: <span id="address"></span></p>
                    <p id="error"></p>
                    <!-- this is a placeholder for the real map once it works -->

                </div><!--end col-->

                <div class="col-md-6 typeoption">
                    
                <h5>What's your style?</h5>

                    <div class="typeslots">
                    <!-- this is where people start the type query -->
                        <button type="button btn" class="picker selector" value="hiking"><img src="/../imgs/hiking.png" alt="hiking-places"></button>
                        <button type="button btn" class="picker selector" value="boating"><img src="/../imgs/boating.png" alt="boating-places"></button>
                        <button type="button btn" class="picker selector" value="camping"><img src="/../imgs/camping.png" alt="camping-places"></button>
                        <button type="button btn" class="picker selector" value="fishing"><img src="/../imgs/fishing.png" alt="fishing-places"></button>
                        <button type="button btn" class="picker selector" value="picnicing"><img src="/../imgs/picnicing.png" alt="picnic-places"></button>
                        <button type="button btn" class="picker selector" value="sightseeing"><img src="/../imgs/sightseeing.png" alt="sightseeing-places"></button>

                    </div><!--end type slots-->

                </div><!--end col-->

            </div><!--end row-->

        </div><!--end container-->
        </div><!--end hchooser-->

        <div class="adventurebox">
            
            <h4>Your Adventure</h4>
            <div id="map"></div>

        </div><!--end adventure box-->
        <footer>
            <div class="footerContainer">
                
            </div>
        
        </footer>

            <script type="template/html" id="aboutStaff">
            
            <% _.each(aboutData,function(element,index,list){ %>
            <div class="aboutStaff">
            <h4><img class="aboutPic"src="<%= element.photo %>"></h4>

            <ul class="list-unstyled">
                <li><%= element.name %></li>
            </ul>
            </div>
        <% }); %>
            </script>
        
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/underscore/underscore.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
        <script src="../bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
            <script src="scripts/main.js"></script>
           <!-- // <script src="scripts/search.js"></script> / -->
            <!-- // <script src="scripts/reviews.js"></script> -->
             <script src="scripts/footer.js"></script>

        <!-- endbuild -->
</body>
</html>
